::selection
{
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

*
{
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section
{
  padding: 100px 0 200px 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 1399.98px)
{
  section
  {
    padding: 100px 0 200px 0;
  }
}
@media (max-width: 1199.98px)
{
  section
  {
    padding: 80px 0 100px 0;
  }
}
@media (max-width: 575.98px)
{
  section
  {
    padding: 80px 0 100px 0;
  }
}

section p.description
{
  margin: 0 0 50px 0;
  font-family: "font_0002_l";
  font-size: 42px;
  line-height: 66px;

  opacity: 0;
}
@media (max-width: 1399.98px)
{
  section p.description
  {
    font-size: 38px;
    line-height: 57px;
  }
}
@media (max-width: 1199.98px)
{
  section p.description
  {
    margin: 0 0 30px 0;
    font-size: 20px;
    line-height: 33px;
  }
}
@media (max-width: 575.98px)
{
  section p.description
  {
    margin: 0 auto 25px auto;
    width: 240px;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
  }
}

section p.description b
{
  font-family: "font_0002_r";
  font-weight: 500;
}
section p.description .cute
{
  font-family: "font_0001_r";
}

section a.download
{
  display: inline-block;
  margin: 0 auto 100px auto;
  font-family: "font_0003_li";
  font-size: 27px;
  color: rgb(110, 110, 110);
  text-underline-offset: 8px;
  text-decoration-thickness: 0px;
  text-decoration-color: black;

  opacity: 0;
}
@media (max-width: 1399.98px)
{
  section a.download
  {
    margin: 0 auto 80px auto;
    font-size: 25px;
  }
}
@media (max-width: 1199.98px)
{
  section a.download
  {
    margin: 0 auto 60px auto;
    font-size: 18px;
  }
}
@media (max-width: 575.98px)
{
  section a.download
  {
    margin: 0 auto 70px auto;
    width: 240px;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
  }
}

section .clients
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px 110px;
  margin: 0 auto;
  padding: 60px 0 90px 0;
  width: 100%;
  max-width: 1400px;
  background-color: rgb(254, 96, 62);

  opacity: 0;
}
@media (max-width: 1399.98px)
{
  section .clients
  {
    max-width: 1200px;
  }
}
@media (max-width: 1199.98px)
{
  section .clients
  {
    max-width: 520px;
  }
}
@media (max-width: 575.98px)
{
  section .clients
  {
    max-width: 280px;
  }
}

section .clients .client
{
  width: 200px;
  height: 100px;
  background-size: 100% 100%;
}
@media (max-width: 1399.98px)
{
  section .clients .client
  {
    width: 180px;
    height: 90px;
  }
}
@media (max-width: 1199.98px)
{
  section .clients .client
  {
    width: 120px;
    height: 60px;
  }
}
@media (max-width: 575.98px)
{
  section .clients .client
  {
    width: 100px;
    height: 50px;
  }
}

section .rights
{
  margin: 45px auto 0 auto;
  font-family: "font_0003_li";
  font-size: 17px;
  color: rgb(110, 110, 110);

  opacity: 0;
}
@media (max-width: 1399.98px)
{
  section .rights
  {

  }
}
@media (max-width: 1199.98px)
{
  section .rights
  {
    padding: 0 40px;
    font-size: 13px;
  }
}
@media (max-width: 575.98px)
{
  section .rights
  {
    padding: 0 40px;
    width: 270px;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
  }
}