::selection
{
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

*
{
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section
{
  padding: 100px 0 200px 0;
  width: 100%;
  text-align: center;
}

section p.description
{
  margin: 0 0 50px 0;
  font-family: "font_0002_l";
  font-size: 42px;
  line-height: 62px;

  opacity: 0;
}
@media (max-width: 1399.98px)
{
  section p.description
  {
    /* font-size: 38px; */
  }
}
@media (max-width: 1199.98px)
{

}
@media (max-width: 575.98px)
{

}

section p.description b
{
  font-family: "font_0002_r";
}
section p.description .cute
{
  font-family: "font_0001_r";
}

section a.download
{
  display: block;
  margin: 0 auto 50px auto;
  font-family: "font_0003_li";
  font-size: 27px;
  color: rgb(110, 110, 110);
  text-underline-offset: 8px;
  text-decoration-thickness: 0px;
  text-decoration-color: black;

  opacity: 0;
}

section .clients
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0 0 0;
  width: 100%;
  max-width: 1400px;
  height: 370px;
  /* background-color: rgb(228, 254, 207); */
  background-color: rgb(254, 96, 62);

  opacity: 0;
}

section .clients .client
{
  /* margin: 60px 0 30px 130px; */
  /* float: left; */
  /* flex-basis: 25%; */
  margin: 0 60px;
  width: 200px;
  height: 100px;
  background-size: 100% 100%;
}

section .rights
{
  margin: 45px auto 0 auto;
  width: 1600px;
  text-align: right;
  font-family: "font_0003_li";
  font-size: 17px;
  color: rgb(110, 110, 110);
}