/package-lock.json
/node_modules/

# wsl
*.vhdx

# assets
*.blend1

############################################################
##########################.        #########################
#####################     .      ..  ...####################
###################    ..  .   ....    .  .#################
##################        . .  . ...  . ... ################
#################     ...................   ################
#################  .(,(#.%,.*%#&&&.##....   ################
#################  .***#..*,*#%,%%#%*#(#(. ,* ##############
################( ******  #%#((&%%*&###%%*..(.##############
#################(#,((##**&.*,%%(*##.**##, .#(##############
###############( .(,**....* ...,*,,,%&,((*.* .##############
###############( . **..(*## %%%%#,*##,..*%,,.###############
################(.,##%#%%,#(%#(#&&(%,(.###,..###############
##################(,,#*#(.## #(&..%#&#(*(.##################
###################( ***#     .,.,#&%%%*.###################
####################(.#,#*,,.,&*(((%%(# ####################
#######################**.*.*####.*,,,######################
#######################  ,*%%#@##(*   .#####################
######################                 #####################
####################                     ###################

# copyright © 2023-present Wayfolk, all rights reserved.