::selection
{
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

*
{
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer
{
  margin-top: 500px; /* temp offset for wip message */
  width: 100%;
  height: 640px;
  background-color: white;

  text-align: center;

  opacity: 0;
}
@media (max-width: 1399.98px)
{
  footer
  {
    margin-top: 430px;
    height: 600px;
  }
}
@media (max-width: 1199.98px)
{
  footer
  {
    margin-top: 260px;
    height: 390px;
  }
}
@media (max-width: 575.98px)
{
  footer
  {
    margin-top: 210px;
    height: 450px;
  }
}

footer .wip
{
  position: absolute;
  top: -320px;
  left: 0;
  right: 0;
  font-family: "font_0002_l";
  font-size: 42px;
  line-height: 62px;
  color: rgb(213, 205, 187);
  pointer-events: none;

  /* opacity: 0; */
}
@media (max-width: 1399.98px)
{
  footer .wip
  {
    top: -260px;
    font-size: 35px;
    line-height: 55px;
  }
}
@media (max-width: 1199.98px)
{
  footer .wip
  {
    top: -170px;
    font-size: 30px;
    line-height: 45px;
  }
}
@media (max-width: 575.98px)
{
  footer .wip
  {
    top: -130px;
    font-size: 20px;
    line-height: 30px;
  }
}

section p.description b
{
  font-family: "font_0002_r";
}
section p.description .cute
{
  font-family: "font_0001_r";
}

footer p.supported
{
  margin: 0 auto 75px auto;
  padding: 100px 0 0 0;
  width: 1200px;
  color: black;
  font-family: "font_0003_eli";
  font-size: 35px;
  line-height: 55px;

  opacity: 0;
}
@media (max-width: 1399.98px)
{
  footer p.supported
  {
    font-size: 30px;
  }
}
@media (max-width: 1199.98px)
{
  footer p.supported
  {
    margin: 0 auto 50px auto;
    padding: 50px 0 0 0;
    width: 520px;
    font-size: 17px;
    line-height: 38px;
  }
}
@media (max-width: 575.98px)
{
  footer p.supported
  {
    padding: 50px 0 0 0;
    width: 240px;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
  }
}

footer p b
{
  /* font-family: font_0003_m; */
}

footer p a
{
  /* text-decoration: none; */
  color: black;
  text-underline-offset: 8px;
  text-decoration-thickness: 0px;
  text-decoration-color: black;
}

footer a.button
{
  display: block;
  margin: 0 auto 75px auto;
  width: 333px;
  height: 64px;
  border-radius: 50px;
  background-color: rgb(255 100 68);
  font-family: "font_0002_r";
  font-size: 30px;
  line-height: 65px;
  text-decoration: none;
  color: white;

  box-shadow: none;
  opacity: 0;
}
@media (max-width: 1399.98px)
{
  footer a.button
  {
    /* width: 333px;
    height: 64px;
    font-size: 30px;
    line-height: 65px; */
  }
}
@media (max-width: 1199.98px)
{
  footer a.button
  {
    margin: 0 auto 50px auto;
    width: 240px;
    height: 50px;
    font-size: 23px;
    line-height: 50px;
  }
}
@media (max-width: 575.98px)
{
  footer a.button
  {
    width: 220px;
    height: 45px;
    font-size: 21px;
    line-height: 47px;
  }
}

footer .copyright
{
  color: rgb(157, 157, 157);
  font-family: "font_0003_li";
  font-size: 17px;

  opacity: 0;
}
@media (max-width: 1399.98px)
{
  footer .copyright
  {
    font-size: 15px;
  }
}
@media (max-width: 1199.98px)
{
  footer .copyright
  {
    font-size: 12px;
  }
}
@media (max-width: 575.98px)
{
  footer .copyright
  {
    font-size: 10px;
  }
}