::selection
{
  color: rgb(255, 255, 255);
  background: rgba(254, 96, 62, 1.0);
}

*
{
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*////////////////
///// HEADER /////
////////////////*/

header
{
  z-index: 1;
  /* position: relative; */
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 1200px;

  /* color: rgb(228, 254, 207); */

  /* color: rgb(255, 0, 0); */
  color: #fe603e;
  /* mix-blend-mode: hard-light; */
}
@media (max-width: 1399.98px)
{
  header
  {
    height: 800px;
  }
}
@media (max-width: 1199.98px)
{
  header
  {
    height: 600px;
  }
}
@media (max-width: 575.98px)
{
  header
  {
    height: 400px;
  }
}

/*///////////////////
///// HEADER H1 /////
///////////////////*/

header h1
{
  position: absolute;
  margin: 0; /* normalize */
  margin-left: 120px;
  bottom: -34px;
  /* width: 680px; */
  font-family: "font_0001_r";
  font-size: 110px;
  font-weight: normal; /* normalize */
  line-height: 140px;

  opacity: 0; /* override in intro */
}
@media (max-width: 1399.98px)
{
  header h1
  {
    bottom: -30px;
    font-size: 100px;
    line-height: 125px;
  }
}
@media (max-width: 1199.98px)
{
  header h1
  {
    bottom: -19px;
    margin-left: 60px;
    /* width: 285px; */
    font-size: 65px;
    line-height: 80px;
  }
}
@media (max-width: 575.98px)
{
  header h1
  {
    bottom: -14px;
    margin-left: -8px;
    /* width: 285px; */
    font-size: 43px;
    line-height: 55px;
  }
}

/*//////////////////////////
///// HEADER .LOCATION /////
//////////////////////////*/

header .location
{
  position: absolute;
  /* right: 120px; */
  right: 304px;
  bottom: 266px;
  font-family: "font_0002_l";
  font-size: 45px;

  opacity: 0; /* override in intro */
}
@media (max-width: 1399.98px)
{
  header .location
  {
    /* right: ; */
    bottom: 249px;
    font-size: 35px;
  }
}
@media (max-width: 1199.98px)
{
  header .location {
    /* height: 300px; */
    right: 60px;
    bottom: 155px;
    /* width: 105px; */
    font-size: 25px;
    /* text-align: right; */
  }
}
@media (max-width: 575.98px)
{
  header .location {
    /* height: 300px; */
    right: -2px;
    bottom: 100px;
    width: 105px;
    font-size: 20px;
    text-align: right;
  }
}

/*//////////////////////
///// HEADER .YEAR /////
//////////////////////*/

header .year
{
  position: absolute;
  right: 426px;
  bottom: 177px;
  /* left: 1200px; */
  font-family: "font_0002_r";
  font-size: 45px;

  opacity: 0; /* override in intro */
}
@media (max-width: 1399.98px)
{
  header .year
  {
    right: 400px;
    bottom: 164px;
    font-size: 35px;
  }
}
@media (max-width: 1199.98px)
{
  header .year
  {
    /* height: 300px; */
    right: 128px;
    bottom: 103px;
    /* width: 105px; */
    /* font-family: "font_0002_r"; */
    font-size: 25px;
    text-align: right;
  }
}
@media (max-width: 575.98px)
{
  header .year
  {
    /* left: -2px; */
    right: 0;
    bottom: 67px;
    /* font-family: "font_0002_l"; */
    font-size: 20px;
    /* text-align: left; */
  }
}

/* header .image
{
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;

  opacity: 0;
} */

/* header .blend
{
  position: absolute;
  z-index: -1;
  margin: -1500px 0 0 -1500px;
  width: 3000px;
  height: 3000px;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(255 172 65) 0%, rgb(0 0 0 / 0%) 50%);
  mix-blend-mode: overlay;
  pointer-events: none;
} */