:host {
  position: static;
  z-index: 0;
  /* width: 100%; */
  /* height: 100%; */
}

.domCanvasWrapper {
  /* width: 100%; */
  /* height: 100%; */
}

.domCanvas {
  /* width: 100%; */
  /* height: 100%; */
  outline: none; /* prevents focus outline */

  opacity: 0;

}

.domFilter {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color set using gsap */
  /* mix-blend-mode: soft-light; */
  mix-blend-mode: difference;

  pointer-events: none;
}
