::selection
{
  color: rgb(255, 255, 255);
  background: rgb(255, 17, 0);
}

.column
{
  margin: 0 auto;
  max-width: 960px;
}

/* .column p
{
  margin: 0 0 200px 0;
  width: 600px;
  font-family: "font_0001_m";
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
  line-height: 40px;
} */

.column #map
{
  /* margin: 0 0 110px 0; */
  width: 250px;
}