:host
{
  display: block;
  background-color: black;
}

::selection
{
  color: rgb(0, 0, 0);
  background: rgb(252, 255, 236);
}

.column
{
  margin: 0 auto;
  max-width: 960px;
}
@media (max-width: 1399.98px) {}
@media (max-width: 1199.98px)
{
  .column
  {
    max-width: 800px;
  }
}
@media (max-width: 575.98px)
{
  .column
  {
    /* margin-top: -75px; */
    max-width: 320px;
  }
}

.column p
{
  margin: 50px 0 25px 0;
  padding: 100px 0 50px 0;
  width: 750px;
  font-family: "font_0001_300";
  font-size: 27px;
  font-weight: 400;
  line-height: 50px;
  color: rgb(252, 255, 236);
} 
@media (max-width: 1399.98px)
{

}
@media (max-width: 1199.98px)
{
  .column p
  {
    margin: 0 50px 50px 50px;
    padding-bottom: 0;
    max-width: 500px;
  }
}
@media (max-width: 575.98px)
{
  .column p
  {
    margin: 0 10px 50px 10px;
    padding-bottom: 0;
    width: 280px;
    font-size: 20px;
    line-height: 35px;
  }
}

.column #map
{
  padding: 0 0 100px 0;
  width: 150px;
}
@media (max-width: 1399.98px)
{

}
@media (max-width: 1199.98px)
{
  .column #map
  {
    margin: 0 50px 0 50px;
    padding: 0 0 50px 0;
  }
}
@media (max-width: 575.98px)
{
  .column #map
  {
    margin: 0 10px 0 10px;
    padding: 0 0 50px 0;
    width: 80px;
  }
}

.column .copyright
{
  padding: 0 0 50px 0;
  font-family: "font_0001_300";
  font-size: 23px;
  color: rgb(252, 255, 236);
}
@media (max-width: 1399.98px)
{

}
@media (max-width: 1199.98px)
{
  .column .copyright
  {
    margin: 0 50px 0 50px;
  }
}
@media (max-width: 575.98px)
{
  .column .copyright
  {
    margin: 0 10px 0 10px;
    padding: 0 0 50px 0;
    font-size: 20px;
  }
}