::selection
{
  color: rgb(255, 255, 255);
  background: rgb(255, 17, 0);
}

.column
{
  margin: 0 auto;
  max-width: 960px;
}
@media (max-width: 1399.98px) {}
@media (max-width: 1199.98px)
{
  .column
  {
    max-width: 800px;
  }
}
@media (max-width: 575.98px)
{
  .column
  {
    max-width: 320px;
  }
}

.column #logomark
{
  margin: 0 0 110px 0;
  width: 75px;
}
@media (max-width: 1399.98px)
{

}
@media (max-width: 1199.98px)
{
  .column #logomark
  {
    margin: 0 50px 50px 50px;
    width: 60px;
  }
}
@media (max-width: 575.98px)
{
  .column #logomark
  {
    margin: 0 20px 20px 20px;
    width: 40px;
  }
}

.column p
{
  margin: 0 0 200px 0;
  width: 670px;
  font-family: "font_0001_mi";
  font-size: 27px;
  font-weight: 400;
  line-height: 50px;
}
@media (max-width: 1399.98px)
{

}
@media (max-width: 1199.98px)
{
  .column p
  {
    margin: 0 50px 150px 50px;
    max-width: 500px;
  }
}
@media (max-width: 575.98px)
{
  .column p
  {
    margin: 0 20px 100px 20px;
    width: 280px;
    font-size: 20px;
    line-height: 35px;
  }
}