::selection
{
  color: rgb(252, 255, 236);
  background: rgb(0, 0, 0);
}

.column
{
  margin: 0 auto;
  max-width: 960px;
}
@media (max-width: 1399.98px) {}
@media (max-width: 1199.98px)
{
  .column
  {
    max-width: 800px;
  }
}
@media (max-width: 575.98px)
{
  .column
  {
    margin-top: -75px;
    max-width: 320px;
  }
}

.column #logomark
{
  margin: 0 0 110px 0;
  width: 65px;
}
@media (max-width: 1399.98px)
{

}
@media (max-width: 1199.98px)
{
  .column #logomark
  {
    margin: 0 50px 50px 50px;
    width: 60px;
  }
}
@media (max-width: 575.98px)
{
  .column #logomark
  {
    margin: 0 10px 20px 10px;
    width: 40px;
  }
}

.column p
{
  margin: 50px 0 50px 0;
  width: 750px;
  /* font-family: "font_0001_mi"; */
  font-family: "font_0001_500";
  font-size: 57px;
  /* font-weight: 400; */
  line-height: 82px;
  /* color: white; */
}
@media (max-width: 1399.98px)
{

}
@media (max-width: 1199.98px)
{
  .column p
  {
    margin: 0 50px 150px 50px;
    max-width: 500px;
  }
}
@media (max-width: 575.98px)
{
  .column p
  {
    margin: 0 10px 100px 10px;
    width: 280px;
    font-size: 20px;
    line-height: 35px;
  }
}